.list {
  margin-right: 3em;
}

.droppableContainer {
  padding: 8px;
  width: 400px;
  -webkit-box-shadow: 0px 6px 6px -2px grey;
  -moz-box-shadow: 0px 6px 6px -2px grey;
  box-shadow: 0px 6px 6px -2px grey;
}
